<div class="container book-list-center">
    <div class="row justify-content-center">
        @for (book of books; track book.id) {
        <div class="card book-card m-3 shadow-sm">
            <a [routerLink]="['/books', book.id]">
                <img [src]="book.imageUrl" class="card-img-top rounded-top" alt="Book image">
            </a>
            <div class="card-body text-center">
                <h5 class="card-title mb-2">{{ book.title }}</h5>
                <p class="card-text mb-2">{{ book.description }}</p>
                <p class="card-text mb-3 font-weight-bold">{{ book.price }}</p>
                <button type="button" class="btn btn-primary w-100" (click)="addToCart(book)">Add to Cart</button>
            </div>
        </div>
        }
    </div>
</div>